<!DOCTYPE html>
<html lang="{{ lang }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="{{ url_for('static', path='img/favicon.png') }}">
    <title>{% block title %}{{ content.title }}{% endblock %}</title>
</head>
<body>
    <header>
        <h1>{{ content.title }}</h1>
        <nav>
            {% for l in languages %}
            <a href="/{{ l }}/make-a-python/?prog_lang={{ prog_lang.replace('+', '%2B') }}">{{ l }}</a>
            {% endfor %}
        </nav>
        <hr>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <hr>
        <p>© 2026 Make a python</p>
    </footer>
</body>
</html>